body {
  background: #fff;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
  font-family: Arial;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
}

p {


}

.bigone {
  display: block; 
  width: 960px;  
}

.halfone {
  float: left;
  text-align: left;
  width:50%;
  height:inherit;
}

.header1 {
  background: #ccc;
  border:none;
}

.header2 {
  background: #eee;
  min-height: 20px;
}

.formelement {
  
}

.formleft {
  float: left;
  width:100px;
}

.formelementwrapper {
  width:100%;
  overflow: hidden;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.ui-icon-circle-close {
    cursor:pointer;
  }
